@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
}
body{
    width: 100%;
    background-color: #6d4656;
    font-family: "Poppins";
    color: #ffffff;
    /*overflow-x: hidden;*/
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: #66ddcc;
}
#wallpaper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#main-container{
    width: 100vw;
}
#nav-logo{
    transition: 0.3s ease;
    margin-top: -6%;
    width: 300px;
    height: 300px;
    background-image: url("images/profile.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 25%;
}
#nav-logo:hover{
    margin-top: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding-left: 12%;
    padding-right: 12%;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 2;
}
#bar{
    list-style: none;
    text-align: right;
}
#bar li:first-child{
    float: left; 
    padding: 0;
}
#bar li {
    padding-top: calc(6vh - 18px);
    display: inline-block;
    padding-left: 3%;
    font-size: 18px;
}
.now{
    color: #66ddcc;
}
#footertext{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: #eeeeee;
    background-color: transparent;
    z-index: 1;
}
::selection{
    background-color: transparent;
    color: #66ddcc;
}
::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 850px) {
    #bar li{
        padding-left: 2%;
        font-size: 14px;
    }
    header, #footertext{
        background-color: rgba(32, 34, 37, 0.5);
    }
}
@media screen and (max-width: 620px) {
    #wallpaper{
        background-image: none;
    }
    /* #nav-logo{
        margin-top: 0;
    } */
    #bar li{
        padding-left: 1%;
        font-size: 12px;
    }
}
img {
    max-width: 100%;
    height: auto;
	border-radius: 25%;
  }
  .buttons {
    width: 100%;
    max-width: 200px;
    height: 70px;
    margin: 10px;
    font-size: 18px;
    font-family: "Poppins";
    cursor: pointer;
  }

  @media (max-width: 768px) {
    img {
	border-radius: 25%;
    }
  
    .buttons {
      max-width: 150px;
    }
  }
  @media (max-width: 480px) {
    img {
	  border-radius: 25%;
    }
  
    .buttons {
      max-width: 100%;
    }
  }
