table { border-collapse:collapse; border-spacing:0; empty-cells:show }
td, th { vertical-align:top; font-size:16pt;}
h1, h2, h3, h4, h5, h6 { clear:both;}
p { white-space: nowrap; }
ol, ul { margin:0; padding:0;}
li { list-style: none; margin:0; padding:0;}
span.footnodeNumber { padding-right:1em; }
span.heading_numbering { margin-right: 0.8rem; }* { margin:0;}
.table-ta1{ writing-mode:horizontal-tb; direction:ltr; }
.cell-ce1{ font-size:16pt; text-align:center ! important; margin-left:0cm; font-weight:bold; }
.cell-ce2{ font-size:12pt; text-align:center ! important; margin-left:0cm; }
.col-co1{ width:2.258cm; }
.row-ro1{ height:0.529cm; }
.row-ro2{ height:0.452cm; }