@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*
    body {
        a:hover{
        color: #66ddcc;
        text-shadow: 0px 0px 12px rgba(0, 188, 212, 0.8);
      }
        margin: 0;
        font-family: Poppins, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-image: url('img/dfx-bg.png');
        background-size: cover;
        background-position: center;
        padding: 20px;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      
      header {
        background-color: rgba(51, 51, 51, 0.8);
        color: #fff;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        position:fixed;
        width: 100%;
        z-index: 9999;
        box-sizing: border-box;
        max-width: calc(100% - 40px);
        margin: 0 auto;
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
      }
      
      .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        text-align: center;
      }
      
      .main-content img {
        max-width: 80%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
      
      .text-and-button {
        color:#fff;
      }
      
      .download-button {
        background-color: rgba(0, 188, 212, 0.8);
        border: none;
        color: rgb(255, 255, 255);
        padding: 15px 64px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
        margin-bottom: 20px;
      }
      
      footer {
        background-color: rgba(51, 51, 51, 0.8);
        color: #fff;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        position: fixed;
        bottom: 20px;
        right: 20px;
      }
      .download-button:hover{
        box-shadow: 0px 0px 12px rgba(0, 188, 212, 0.8);
        color: #ffffff;
      }
  
      @media (max-width: 768px) {
        .main-content img {
          max-width: 100%;
        }
  
        footer {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          right: auto;
          border-radius: 0;
        }
  
        header {
          max-width: calc(100% - 40px);
          margin: 0 auto;
        }
      }